
body {
  background-color: #E5F3FD;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}


.profile-section {
  display: flex;
  align-items: center;
  margin-top: 70px;
  padding: 0 50px;
}

.profile-pic {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 90px;
}

.profile-text {
  max-width: 600px;
  line-height: 1.6;
}


.projects-section {
  padding: 50px;
}

.projects-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: left;
}




.projects-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}


.project-card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.project-image-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
}


.project-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s;
}

.project-image-container:hover .project-image {
  transform: scale(1.05);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-image-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}


.project-description {
  font-size: 1rem;
  margin-top: 10px;
}

.project-description a {
  color: #333;
  text-decoration: underline;
}

.youtube-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.youtube-card {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.youtube-card a {
  display: block;
  width: 100%;
  max-width: 300px; 
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.youtube-card a:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.youtube-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

a .fa-github {
  color: black; 
  font-size: 40px;
  text-decoration: none; 
}

a .fa-github:hover {
  color: #4078c0; 
}

a .fa-linkedin-in {
  color: black; 
  font-size: 30px;
}

a .fa-linkedin-in:hover {
  color: #0a66c2; 
}

a .fa-brands {
  margin: 0 15px; 
  font-size: 30px;
  color: black;
}

a .fa-brands:hover {
  color: #0a66c2; 
}

.social-icons {
  display: flex;
  gap: 15px; 
}

.social-icons a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.skills-section {
  padding: 50px;
}

.skills-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: left;
}

.skills-section ul {
  list-style: none;   
  padding: 0;
}

.skills-section li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.skills-section i {
  font-size: 60px; 
  margin: 15px;    
  color: black;    
}
